/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 30px;
    background-color: #0d1117;
    border-bottom: 1px solid #30363d;
}

/* ===== LEFT ===== */
.nav-left {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo-link img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo-link span {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

/* ===== RIGHT ===== */
.nav-right {
    display: flex;
    gap: 25px;
}

.nav-link {
    text-decoration: none;
    color: #c9d1d9;
    font-weight: 500;
    transition: 0.2s;
}

.nav-link:hover {
    color: #58a6ff;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .nav-right {
        width: 100%;
        justify-content: space-around;
    }
}